/* colour scheme:
dark blue: 0081a7
mid blue: 00afb9
cream: fdfcdc
light pink: fed9b7
pink: f07167 */

body {
    font-family: sans-serif;
    background-color: #0081a7;
}

h1,
h2,
h3,
p
/* ul,
ol*/  {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
}

/* ul,
ol {
    margin-top: 10px;
}

li {
    margin-left: 20px;
} */

.title,
.description-card,
.ingredients,
.steps,
.shadowone,
.shadowtwo,
.shadowthree,
.shadowfour,
.shadowfive {
    width: 570px;
    padding: 20px;
}

.title,
.description-card,
.ingredients,
.steps {
    background-color: #fdfcdc;
    color: #f07167;
    margin-left: 350px;
}

.shadowone,
.shadowthree,
.shadowfour,
.shadowfive {
    background-color: #fed9b7;
    margin-top: 20px;
    margin-left: 330px;
}

.shadowone {
    height: 115px;
    margin-bottom: -135px;
}

.shadowtwo {
    background-color: #00afb9;
    margin-left: 330px;
    height: 722px;
    margin-bottom: -742px;
    margin-top: 20px;
}

.shadowthree {
    height: 53px;
    margin-bottom: -73px;

}

.shadowfour {
    height: 451px;
    margin-bottom: -471px;
}

.shadowfive {
    height: 547px;
    margin-bottom: -567px;
}

img {
    width: 610px;
    margin-left: 350px;
}

a {
    display: inline-block;
    text-decoration: none;
    margin-left: 350px;
    color: #f07167;
    margin-top: 10px;
}