/* colour
light blue: cbeef3 
light pink: f49cbb
mid pink: f26a8d 
dark pink: dd2d4a 
red: 880d1e */

/* html {
    background-color: #880d1e;
    font-family: 'Monaco', Courier, monospace;
}

h1 {
    background-color: #f49cbb;
    border-style: solid;
    border-color: #f26a8d;
    border-width: 4px;
    padding: 32px;
    font-size: 64px;
    color: #dd2d4a;
    text-align: center;
    width: 500px; 
    margin: 32px auto;
}

.recipe-card {
    background-color: #cbeef3;
    padding: 32px;
    border-style: solid;
    border-width: 4px;
    border-color: #79b1b9;
    width: 500px;
    margin: auto;
}

.description {
    text-align: center;
    font-size: 24px;
    color: #326871;
}

ul {
    list-style-type: none;
} */

body {
    background-color: #880d1e;
}

h1 {
    margin: 0;
    font-size: 50px;
    font-family: sans-serif;
    color: #dd2d4a;
}

.title {
    padding: 30px;
    height: 62px;
    width: 665px;
    background-color: #f49cbb;
    margin-left: 350px;
}

.shadowone {
    height: 62px;
    width: 665px;
    padding: 30px;
    background-color: #f26a8d;
    margin-bottom: -102px;
    margin-left: 330px;
    margin-top: 150px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.recipe-card {
    font-family: sans-serif;
    width: 665px;
    height: 145px;
    background-color: #cbeef3;
    padding: 30px;
    margin-left: 350px;
}

.shadowtwo {
    margin: auto;
     width: 665px;
    height: 145px;
    background-color: #69a5ad;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: -185px;
    margin-left: 330px;
}

a {
    text-decoration: none;
    color: #174c53
}

li {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}